.contentEdubook{
    padding: 60px 140px 41px 140px;
    color:#000000;
}

.title{
    color: #f15a29;
    font-size: 22px;
    line-height: 1.25;
    font-weight: 600;
}

.stepMain1{
    display: flex;
    background-color: #ebebeb;
    padding: 50px 140px 67px;
}

.stepSub1{
    text-align: center;
    background-color: #ffffff;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    border-radius: 13px;
    padding: 24px 24px 16px 13px;
    margin: 0 69px 0 0;
    width: 778px;
    height: 632px;
}

.stepImg1{
    width:400px;
}

.step1{
    font-size: 24px;
    font-weight: 600;
    color: #159fa7;
}

.identity{
    font-size: 16px; 
    color: #000000;
    padding: 15px 30px 10px 30px;
}

.stepMain2{
    text-align: center;
    background-color: #ffffff;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    border-radius: 13px;
    padding: 24px 24px 16px 13px;
    margin: 0 69px 0 0;
    width: 778px;
    height: 632px;
}

.stepImg2{
    width:400px;
}

.step2{
    font-size: 24px;
    font-weight: 600;
    color: #159fa7;
}

.use{
    fonts-size: 16px;
    color: #000000;
    padding: 15px 30px 10px 30px;
}

.maindivcustom{
    margin: 46px 88px 46px 91px;
}

.customImg{
    width:100%;
}

.takeCareer{
    background-color: #fff3ef;
    text-align: center;
    display: flex;
    justify-content: center;
}

.takeCareerInner{
    width: 40%;
    margin-top: 35px;
    margin-bottom: 35px;
}

.careerImg{
    width:100%;
    margin-bottom:40px;
}

.multiple{
    background-color: #e6feff;
    padding:66px 183px 46px 137px;
    text-align: center;
    display: flex;
    justify-content: center;
}

.multipleImg{
    padding: 20px 50px;
    width:80%;
    max-height:340px;
    object-fit: contain;
}

.intelligence{
    height: 614px;
    margin: 50.5px 0 42.5px;
    border: solid 2px #000000;
}

.newsletter{
    padding: 50px 20px;
}

@media only screen and (max-width: 1000px) {
    .edu-banner{
        height: 60vh;
    }
    .stepMain1 {
        display: block;
        background-color: #ebebeb;
        padding:0px;
    }
   
    .stepSub1 {
        text-align: center;
        background-color: #ffffff;
        box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
        border-radius: 13px;
        padding: 24px 24px 16px 13px;
        margin: 0; 
        width: auto;
        height:auto;
    }

    .stepMain2 {
        text-align: center;
        background-color: #ffffff;
        box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
        border-radius: 13px;
        padding: 24px 24px 16px 13px;
        margin: 0;
        width:100%;
        height:auto;
    }


}

@media only screen and (max-width: 600px) {


    .multiple {
        background-color: #e6feff;
        padding: 0px;
        text-align: center;
        display: block;
        justify-content: center;
    }

    .intelligence{
        display: none;
    }

    .contentEdubook {
        padding: 51px 40px 20px 40px;
        color: #000000;
    }

    .stepImg1 {
        width: 250px;
    }

    .stepImg2 {
        width: 250px;
    }

    .newsletter{
        padding: 20px 20px;
    }

}
