body {
  font-family: 'Poppins', sans-serif !important;
  background: #f8f8f8;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

/* .MuiBox-root-287{
  border:none !important;
} */
.App-header {
  width: 100%;
  background-color: #fff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  font-size: calc(10px + 1vmin);
  color: white;
}

.cd-head {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.text-field {
  padding: 12px 30px;
  width: 45%;
  border: 1px solid #e3e8f0;
  background: #f0f2f7;
  border-radius: 6px;
  color: '#B9BED1' !important;
  text-align: center !important;
  font-weight: '600' !important;
}

.enroll-btn {
  padding: 5px 10px;
  color: white;
  background: #ffa502;
  border: none;
  border-radius: 4px;
}

.enroll-btn:hover {
  background: rgb(255, 186, 59);
}

.provider {
  font-weight: 300;
  font-style: italic;
  color: #968484;
}

.c-card {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.02), 0 3px 6px rgba(0, 0, 0, 0.23);
  background: white;
  margin-bottom: 25px;
  border-radius: 4px;
  width: 100%;
  /* border: 1px solid #707070; */
  /* padding: 15px 10px; */
}

.App-link {
  color: #fff;
  text-align: left;
}

.sub-text {
  font-style: italic;
  font-size: 16px !important;
}

.LandingPage-search-11 {
  border: none !important;
}

.signup-btn {
  color: #3c3c3c !important;
  border: none !important;
  background: transparent !important;
  font-weight: 600 !important;
  margin-left: 20px;
  text-transform: none !important;
}

.signup-btn:hover {
  color: #4e4e4e !important;
}

.login-btn {
  color: white !important;
  background: #ffa502 !important;
  border-radius: 6px !important;
  font-weight: 600 !important;
  padding: 3px 20px !important;
}

.login-btn:hover {
  background: rgb(255, 187, 62) !important;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.ns-input {
  border: 2px white solid;
  background: none;
  color: white;
  padding: 10px 15px;
  border-radius: 5px 0px 0px 5px;
  width: 300px;
}

.main-search {
  margin-left: 500px !important;
}

@media (max-width: 800px) {
  .ns-input {
    width: 150px;
  }

  .main-search {
    margin-left: 0 !important;
  }
}

.ns-submit {
  background: white;
  color: #ffa502 !important;
  border-radius: 0px 5px 5px 0px;
  border: 2px white solid;
  padding: 10px 15px;
  width: 100px;
}

.footer {
  margin: 20px 10px;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background: #fafafa;
}

.footer-logo {
  max-width: 150px;
}

.footer-text {
  margin: 0;
}

.footer-links {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.footer-links > * {
  padding-left: 10px;
}

.footer-link {
  text-decoration: none;
}

a {
  text-decoration: none;
  color: #0975f4;
}

.tsm {
  margin-top: 20px;
  font-size: 0.8rem;
}

.ns-input::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: white;
  opacity: 1;
  /* Firefox */
}

.Dashboard-Links {
  width: 100%;
}

.link-button {
  text-decoration: underline;
  margin-top: 15px;
}

.link-button:hover {
  cursor: pointer;
}

.mb {
  margin-bottom: -5px;
}

.text {
  text-align: center;
  vertical-align: middle;
  /* background: rgba(0, 0, 0, 0.8); */
  position: relative;
  height: 100%;
  width: 100%;
}

.text p {
  position: relative;
  top: 40%;
  transform: translateY(-50%);
  color: #fff;
  margin: 0;
  font-size: 1.75em;
}

.route-link {
  background: #4e4e4e !important;
  max-width: 400px;
  width: 100%;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  background: #f8f8f8;
}

.profile-img {
  width: 160px;
  height: 160px;
  border-radius: 50%;
}

.profile-subtext {
  color: '#274E5D';
  font-weight: '600';
}

.review-util {
  text-align: center;
  padding: 25px;
}

.coursecard-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 15px 15px 0px 15px;
}

@media only screen and (max-height: 700px) {
  .route-link {
    background: #4e4e4e !important;
    max-width: 400px;
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .dashboard-options-header {
    font-size: 1rem !important;
  }

  .dashboard-link-title {
    color: white !important;
    font-size: 1rem !important;
  }
}

dashboard-options-header {
  font-size: 1rem !important;
  margin-top: 100px;
}

.dashboard-link-title {
  color: white !important;
}

.route-link:hover {
  background: #2699fb !important;
}

.branding-image {
  max-height: 80px;
}

.branding-image2 {
  max-height: 130px;
}

@media only screen and (max-width: 600px) {
  .branding-image {
    max-height: 40px;
  }

  .branding-image2 {
    max-height: 65px;
  }
}

.branding-div {
  text-align: center;
}

.branding-container {
  margin-top: 50px !important;
}

.branding-container-top {
  background: rgba(255, 255, 255, 0.8);
  margin-top: 0px !important;
}

.view-dash-button {
  position: absolute !important;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
}

.download {
  right: 0;
  position: absolute !important;
}

.top-bar-logo {
  max-height: 38px;
  padding: 5px;
}

.clear-all {
  z-index: 100;
  float: right;
  position: relative;
  color: #ffa502 !important;
  bottom: -20px;
  text-decoration-line: underline;
  font-size: 0.9rem !important;
}
